<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Моё портфолио{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="#whoami}">Главная</a>
            <a href="#">Проекты</a>
            <a href="#contact">Контакты</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Моё портфолио</p>
    </footer>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>